<!-- html test file -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td style="text-align: center;">Budgeting</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Borrowing Money</td>
        <td>Credit Score</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Paying Bills</td>
        <td>Paying Taxes</td>
        <iframe title="How Interest on Credit Card debt Piles Up" aria-label="Interactive area chart" src="//datawrapper.dwcdn.net/WYsOK/9/" scrolling="no" frameborder="0" style="border: none;" width="600" height="400"></iframe>
      </tr>
    </tbody>
  </table>














